{
    "extends": "@paysera",
    "env": {
        "browser": true
    },
    "overrides": [
        {
            "files": [
                "**/*.test.js",
                "**/*.test.jsx"
            ],
            "env": {
                "jest": true
            },
            "plugins": ["jest"]
        }
    ]
}
